body {
  height: width/2px;
  width: height/2px;
  background-color: #000000;
  color: #90ee90;

}
html {
  height: width/2px;
  width: height/2px;
}

#heading {
  text-align: left;
  margin-top: 50px;
  margin-left: 100px;
  font-family: 'Roboto Mono', serif;
  font-size: 12px;
}

#aboutproject {
  font-size: 12px;
  text-align: left;
  font-family: 'Roboto Mono', serif;
  margin-left: 100px;
  margin-right: 140px;
  margin-top: 12px;
}

#heading2 {
  text-align: left;
  margin-top: 20px;
  margin-left: 100px;
  font-family: 'Roboto Mono', serif;
  font-size: 12px
}

#heading3 {
  text-align: left;
  margin-left: 100px;
  font-family: 'Roboto Mono', serif;
  font-size: 12px
}

#palebluedot {
  margin-left: 100px;
  width: 200px;
  height:auto;
}

.samplecode {
  width: 500px;
  height: 600px;
}

#ogcode{
  font-size: 12px;
  font-family: 'Roboto Mono',serif;
  text-align: left;
}

#skillscontent{
  font-size: 12px;
  text-align: left;
  font-family: 'Roboto Mono', serif;
  margin-right: 0px;
  margin-left: 100px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  margin-left: 0px;
  padding: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  margin-left: 0px;
  display: table;
}

#layout {
  margin-left: 100px;
  margin-right: 200px;
  font-family: 'Roboto Mono', serif;
  font-size: 12px;
}




